---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
import TestSvelte from '../components/TestSvelte.svelte';
const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
	<h2>My awesome blog subtitle</h2>
	<div style="display: flex; gap: 1rem;">
		<div>
			<h1>React</h1>
			<Greeting client:load messages={["Hi", "Hello", "Howdy", "Hey there"]} />
		</div>
		<div>
			<h1>Svelte</h1>
			<TestSvelte client:load />
		</div>
	</div>
	
</BaseLayout>
